body{
    box-sizing: border-box;
    
}
.cont{
    padding-left: 10px;
    padding-right: 10px;
    /* no width */
    /* to make the web be in the meddle */
    margin: auto; 
}
@media (min-width:768px){
    .cont{
        width: 750px;
    }
}
@media (min-width:992px){
    .cont{
        width: 970px;
    }
    
}
@media (min-width:1200px){
    .cont{
        width: 1170px;
    }
}

.header .cont{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
ul{
    list-style: none;
    display: flex;
}
ul li{
    margin-right: 20px;
}

.sec .cont,
.three .cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

}
.sec .cont .im{
    margin: 0 10px;
}
.sec .cont img,
.three .cont img{
    width: 500px;
    height: 400px;

}
.sec .cont .tr{

    margin: 0;
    padding: 0;
}
.sec .cont .email{
    width: 300px;
    height: 30px;
}
.sec .cont .button{
    width: 150px;
    height: 37px;
    background-color: blue;
    color:white;
    border-color: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.sec .cont .button:hover{
    cursor: pointer;
    opacity: 0.7;
}
/* 480 */
@media  (max-width:768px) {
    .sec .cont{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .three .cont{
        display: flex;
        flex-direction: column-reverse;
    }
    .three .cont .a,
    .three .cont .par{
        justify-content: center;
        margin: auto;
    }
    .three{
        height: fit-content;
        padding-bottom: 100px;
    }
    .three .cont  h1{
        text-align: center;
    }

    .sec .cont img,
    .three .cont img{
        max-width: 100%;
    }
    .sec .cont .button{
        width: 308px;
        margin-top: 10px;
    }
    .four .cont{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .four .cont .form{
        display: contents;
    }
    .four .cont .form .email{
        width: 300px !important;
    }
    .four .cont .form .button{
        width: 305px !important;
    }
    .five .cont{
        display: flex;
        flex-direction: column;
    }
    .five{
        height: 500px !important;
        padding-left: 30px !important;
        background-color: rgb(4, 4, 75);
        width: fit-content;
        
    }
    .body{
        width: fit-content;
    }
    .lo{
        padding-left: 30px
    }
    .five .cont div{
        margin-bottom: 30px;
    }
    .five .cont div div{
        margin-bottom: 20px !important;
    }
    .five .cont .s4{
        text-align: center;
    }
    
}
.three .cont .par{
        background-color: white;
        width: 300px;
        height: 200px;
        padding: 20px;
        margin-top: 50px;
        box-shadow: rgb(226, 226, 226) 1px 1px 1px 1px;
    }
    .three .cont .par img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
.three .cont .par .pic,
.three .cont .a{
    display: flex;
}
.three .cont .a:hover{
    text-decoration: underline;
    color: rgb(39, 139, 139);

}
.three .cont{
    margin-top: 100px;
}
.three{
    background-color: rgb(245 240 240);
    min-height: 600px;
    /* margin-bottom: 200px; */
}
.three ::before{
    content: "";
    background-image: url(bg-curve-desktop.svg);
    position: absolute;
    top: 100px;
    left: 20px;
}
.four .cont{
    display: flex;
    justify-content: space-between;
}
.four{
    background-color: rgb(72, 72, 134);
    padding: 50px 0;
    color: white;
}
.four .cont span{
    flex: 1;
}
.four .cont .form{
    margin: auto;
    padding-left: 200px;
}
.four .cont .form .email{
    width: 400px;
    height: 25px;
    margin-bottom: 10px;
}
.four .cont .form .button{
    color: white;
    height: 30px;
    width: 200px;
    background-color: rgb(66, 66, 252);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-color: transparent;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.four .cont .form .button:hover {
    opacity: 0.7;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    
    
}
.four .cont .form p{
    display: none;
}
.five .cont{
    display: flex;
    justify-content:space-between;
    
}
.five{
    color: white;
    background-color: rgb(4, 4, 75);
    height: 200px;
    padding:20px 0 ;
}
.five .logo{
    margin-left: 100px;
    margin-bottom: 20px;
}
.five .cont div div{
    margin-bottom: 10px;
}
.five .cont div div:hover,
.five .cont .s4 i:hover{
    cursor: pointer;
    color: rgb(45, 45, 202);
}
.five .cont .s4 i{
    padding-left: 5px;
}







